.main-article-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

}

.main-content{
    width: 55%;
    -moz-box-shadow: 1px 2px 3px 1px #1E5C82;
    -webkit-box-shadow: 1px 2px 3px 1px #1E5C82;
    box-shadow: 1px 2px 3px 1px #1E5C82; 
    border-radius: 5%;
    padding: 2em 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.article-image{
    max-height: 20em;
    max-width: 40em;
    margin: 3em 7em;
}

.content-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7em;
}

.article-content{
    margin-bottom: 1em;
    font-size: 2em;
}

.btn-container {
    display: flex;
    justify-content: space-evenly
}

.article{
    padding: 0.5em 1em;
    font-size: 1em;
    color: #0A3443
}

.article-title{
    /* margin-left: 4.5em; */
    font-family: 'Amatic SC', cursive;
    color: #0A3443;
    font-size: 4em;
}

.edit-form{
    height: 38em;
    width: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
    -moz-box-shadow: 1px 2px 3px 1px #1E5C82;
    -webkit-box-shadow: 1px 2px 3px 1px #1E5C82;
    box-shadow: 1px 2px 3px 1px #1E5C82; 
    border-radius: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0A3443;

}


@media screen and (max-width: 500px){
    .main-article-container{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .article-container{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main-content{
        width: 90%;
        padding: 0.5em 0.5em;
        -moz-box-shadow: 1px 2px 3px 1px #1E5C82;
        -webkit-box-shadow: 1px 2px 3px 1px #1E5C82;
        box-shadow: 1px 2px 3px 1px #1E5C82; 
        border-radius: 5%;
        font-size: 0.8em;
    }

    .content-container{
        width: 100%;
        margin-left: 0;
    }

    .article-content{
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.5em;
    }

    .btn-container {
        display: flex;
        justify-content: space-evenly
    }

    .article{
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .title{
        margin-left: 3.5em;
        font-family: 'Amatic SC', cursive;
        color: #0A3443;
        font-size: 2em;
    }

    .article-image{
        max-height: 10em;
        max-width: 30em;
        margin-left: 4.5em;
    }


}