@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,700&display=swap');

.main-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}