@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Open+Sans+Condensed:300|Shadows+Into+Light&display=swap');

.auth-container{
    min-height: 100vh;
    width: 100vw;
    background-image: url(gen-lg-7.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-name {
    font-family: 'Amatic SC', cursive;
    font-size: 10em;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    color: #0A3443;
} 

.subtitle-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1A5682;
    font-size: 5em;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 0.5em;
    margin-right: 7em;
} 
.inputs{
    height: 20em;
    width: 40em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 35em;
    margin-bottom: 2em;
    -moz-box-shadow: 4px 4px 6px 3px #6D9EB3;
    -webkit-box-shadow: 4px 4px 6px 3px #6D9EB3;
    box-shadow: 4px 4px 6px 2px #6D9EB3;
    border-radius: 3%
} 

 .input-title{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1A5682;
    font-size: 1.1em;
}

.input{
    height: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 0.1px solid #031E3D;

}

.title{
    margin:0;
}

.auth-header{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1A5682;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.auth-btns {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0F364A;
    background-color: #D9E5E9;
    font-size: 1.05em;
    text-decoration: none;
    border: #F9F6F1;
    padding: 10px 24px;
    margin: 1.1em;
    border-radius: 6%;
    -moz-box-shadow: 1px 2px 3px 1px #6D9EB3;
    -webkit-box-shadow: 1px 2px 3px 1px #6D9EB3;
    box-shadow: 1px 2px 3px 1px #6D9EB3;
    cursor: pointer;
    transition-duration: 0.5s
}

.auth-btns:hover{
    background: rgb(15,54,74);
    background: linear-gradient(70deg, #0C2E40 0%, #1E5C82 40%, #C8DADD 100%); 
    color: #D9E5E9;
}


@media (max-width:500px){
    .auth-container{
        background-image: url(https://i.ibb.co/LY4WqBj/auth-phone-lg.jpg);
    }

    .inputs{
        height: 12em;
        width: 20em;
        margin-bottom: 18em;
        margin-right: 0;
    }

    .site-name {
        font-size: 6rem;
        margin-bottom: 0.4em;
    }

    .subtitle-text{
        margin-bottom: 1em;
        margin-right: 0;
        font-size: 2.5em;

    }

    .auth-header {
        margin-bottom: 0.5em;
    }
    
    .auth-btns {
        margin: 0.5em;
    }

    .input {
        margin: 0.3em;
    }
    
}




